<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmadabuhasan.stamps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_stamps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_stamps_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stamps">
        <activity android:name=".ui.PalindromeActivity" />
        <activity android:name=".ui.WeatherActivity" />
        <activity android:name=".ui.ApaBoleActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>